@import url("https://fonts.googleapis.com/css?family=Poppins");
body{
    font-family: "Poppins";
}
.first{
    background-image: url(../IP3/assets/backgrounds/h_img.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*color: white;*/
    text-align: center;
    align-items: center;
    position: relative;
}
.first-page{
    margin-top: 6%;
    
}
.mouse{
    top: 0;
    position: relative;
    transition: top ease 0.5s;
  
    
}
.mouse:hover{
    top: -20px;

}

.space{
    padding: 5%;
}
.about p{
    margin-right: 2%;
    margin-left: 2%;
    padding: 0.5%;
}
.services{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../ip3/assets/backgrounds/s_image.jpg);
    background-size: cover;
    color: #fff;
    height: 65vh;
    font-size: large;
    font-weight: 500;
}
.services div{
    margin-top: 5%;
    margin-bottom: 5%;
}
.whatWeDo{
    margin-top: 5%;
}
.designImg, .developmentImg, .productImg{
    cursor: pointer;
}

.DesignWording,.DevelopmentWording, .ProductWording{
    display: none;
    background-color: slategray;
    transition:  opacity 1s ease-in;
    padding: 10px;
    border-radius: 5px;

}
.DesignWording.active,.DevelopmentWording.active, .ProductWording.active{
    display: block;
    opacity: 1;
}

.portfolio1{
    width: 236px;
    height: 170px;
    position: relative;
    margin: 1%;
} 
.portfolio img{
    width: 100%;
    height: 100%;
    /* padding: 4%;
    padding-bottom: 7%; */
    display: block;
    
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0,0.7);
    color: white; 
    opacity: 0;
    transition: opacity 0.6s ease-in;
    }
    .overlay:hover {
        opacity: 1;
    }


.overlay div{
    margin: 5%;
    width: 90%;
    height: 90%;
    border: 2px solid white;
}
.one{
    position: absolute;
}
.contact{
    background-image: url(../IP3/assets/backgrounds/c_image.jpg);
    background-size: cover;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%
    
}
::placeholder{
    color: #fff;
}
input{
    background: transparent;
    margin: 3%;
    outline: none;
    border-color: white;
    color: slateblue;

}
textarea{
    background: transparent;
    border-color: white;
    margin-left: 3%;
    color: white;
}
button{
    margin: 2%
}
.socials div{
    margin: 1%;
}
.c-sm-1{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}
.c-sm-1:hover{
    transform: scale(1.5);
}


